<div class="container">
  <h3>Http client Post</h3>
  <p >Record Saved successful</p>
  <form >
    <table>
      <tr>
        <td>Name:</td>
        <td>
          <input formControlName="name">
        </td>
      </tr>
      <tr>
        <td>category:</td>
        <td>
          <input formControlName="category">
        </td>
      </tr>
      <tr>
        <td>writer:</td>
        <td>
          <input formControlName="writer">
        </td>
      </tr>
      <tr>
        <td>
          <button>Submit</button>
        </td>
      </tr>
    </table>

  </form>
  <h3>view</h3>
  <table border="2">
    <tr>
      <th>Name</th>
      <th>Category</th>
    </tr>
    <tr >
      <!-- <td>{{ name }}</td> -->
      <!-- <td>{{ category }}</td> -->
    </tr>
  </table>
</div>